body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 70px;
    padding: 70px;
}  
header {
    background-color:rgb(38, 29, 50);
    color: #fff;
    padding: 40px;
    text-align: center;
}  
header h1 {
    font-size: 29px;
    margin: 20px;
}
main {
    display:float;
    margin:20px;
    padding:20px;
}
.menu-section {
    background-color: #e2e6eb;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(209, 161, 161, 0.1);
}

.menu-section h2 {
    display:flex;
    justify-content: space-between;
    color:aliceblue;
    background-color: rgb(5, 9, 13);
    font-size: 18px;
    margin-top: 0;
}
.menu-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.menu-item:last-child {
    margin-bottom: 0;
}
.item-name {
    font-size: 16px;
}

.item-price {
    font-size: 16px;
    font-weight: bold;
}
footer {
    background-color: #464444;
    color: #ffffffb5;
    padding:5px;
    text-align: center;
    clear: both;  
}
footer p {
    margin: 0;
}